{% extends 'component/view/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("build/index/main.css") }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("build/index/main.js") }}"></script>
{% endblock %}

{% block body %}
    <div id="index-container"></div>
{% endblock %}
