{% extends 'component/view/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("build/index/main.css") }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("build/index/main.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="row vh-75">
        <div id="js-lhs" class="col">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="position-relative my-5">
                    <div class="bg-primary pb-1 mb-2 line"></div>
                    <div class="letters h3 text-primary" id="js-lhs-name">ANTHONY POON</div>
                    <div class="bg-primary pb-1 mt-2 line"></div>
                </div>
            </div>

        </div>
        <div id="js-rhs" class="pl-3">
            <div class="text-secondary my-5 h2" id="js-rhs-1">
                // Hello World
            </div>
            <div class="my-5">
                <span class="text-secondary" id="js-rhs-2">echo "</span>
            </div>
            <div class="pl-3">
                <div id="js-rhs-3" class="mb-3">
                    I am proficient with the following:
                </div>
                <div id="js-rhs-4" class="mb-3">
                    <span class="badge badge-pill badge-primary"># PHP</span>
                    <span class="badge badge-pill badge-primary"># JavaScript</span>
                    <span class="badge badge-pill badge-primary"># React.js</span>
                    <span class="badge badge-pill badge-primary"># Web Development</span>
                    <span class="badge badge-pill badge-primary"># Server Admin</span>
                    <span class="badge badge-pill badge-primary"># Cloud</span>
                </div>
                <div id="js-rhs-5" class="mb-3">
                    My latest work is a single page app built with React.js
                </div>
                <div id="js-rhs-6" class="mb-5">
                    You can check it out <a href="{{ path('gallery_index') }}">here</a>
                </div>
            </div>
            <div id="js-rhs-7" class="mb-3 text-secondary">
                " ;
            </div>
            <div id="js-rhs-8" class="">
                <a href="https://github.com/" class="mr-3 text-secondary btn-like">GitHub</a>
                <a href="https://github.com/anthony-poon/personal.home_page" class="btn-like mr-3 text-secondary">Source Code</a>
                <a href="#" class="text-secondary btn-like">Contact Me</a>
            </div>
        </div>
    </div>
{% endblock %}
