{% extends 'component/view/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset("build/demo/gallery/index.css") }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("build/demo/gallery/index.js") }}"></script>
{% endblock %}

{% block body %}
    <div id="gallery-container" data-ajax-url="{{ path("api_gallery_get_gallery_items") }}">
    </div>
{% endblock %}

{% block modal %}
    <div id="gallery-modal-container" data-ajax-url="{{ path("api_gallery_get_gallery_items") }}"></div>
{% endblock %}
