@import "../_var.scss";

#gallery-container {
    .gallery-item-wrapper {
        @extend .col-xl-3;
        @extend .col-lg-4;
        @extend .col-md-6;
        @extend .col-sm-6;
        @extend .col-12;
        .gallery-item {
            @extend .card;
            @extend .mb-3;
            .gallery-img-container {
                @extend .card-img-top;
                @extend .bg-dark;
                display: flex;
                justify-content: center;
                align-items: center;
                background-size: cover;
                position: relative;
                .gallery-img {
                    object-fit: cover;
                    width: 100%;
                    height: 250px;
                }
            }
            .gallery-body {
                @extend .card-body;
                .gallery-header {
                    @extend .h6;
                    @extend .text-black-50;
                    @extend .text-monospace;
                }

            }
        }
    }

    .gallery-app__upload-button {
        position: fixed;
        right: 30px;
        bottom: 30px;
    }
    .gallery-app__modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1072;
        height: 100vh;
        .gallery-modal {
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.8);
            .gallery-viewer{
                .gallery-viewer__img-wrapper {
                    img {
                        max-width: 100%;
                        object-fit: contain;
                    }
                }
                .gallery-viewer__body {
                    background-color: white;
                    .gallery-viewer__header {
                        @extend .text-primary;
                    }
                    .gallery-viewer__content {
                        overflow-y: auto;
                    }
                    .gallery-viewer__btn-bar {
                        .btn-like {
                            @extend .p-1;
                        }
                    }
                }
            }
            .gallery-upload-form {
                background-color: white;
                overflow-y: auto;
                .gallery-upload-form__header {
                    .gallery-upload-form__spinner {
                        @include loading-spinner($primary);
                    }
                    position: sticky;
                    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
                    .gallery-upload-form__progress-bar {
                        position: absolute;
                        bottom: -1px;
                        height: 1px;
                        background-color: $primary;
                        transition: width 0.7s;
                    }

                }
                .gallery-upload-form__img-wrapper {
                    @extend .p-1;
                    .gallery-upload-form__img-outline {
                        @extend .img-thumbnail;
                        .gallery-upload-form__img{
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                        }
                    }
                }
            }
        }
    }
}