@import "../_var.scss";

#gallery-container {
    .gallery-item-wrapper {
        @extend .col-xl-3;
        @extend .col-lg-4;
        @extend .col-md-6;
        @extend .col-sm-12;
        .gallery-item {
            @extend .card;
            @extend .mb-3;
            .gallery-img-container {
                @extend .card-img-top;
                @extend .bg-dark;
                display: flex;
                justify-content: center;
                align-items: center;
                background-size: cover;
                position: relative;
                .gallery-img {
                    object-fit: cover;
                    width: 100%;
                    height: 250px;
                }
            }
            .gallery-body {
                @extend .card-body;
                .gallery-header {
                    @extend .h6;
                    @extend .text-black-50;
                    @extend .text-monospace;
                }

            }
        }
    }

    .gallery-app__upload-button {
        position: fixed;
        right: 30px;
        bottom: 30px;
    }
    .gallery-app__modal {
        @extend .container-fluid;
        @extend .p-0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1072;
        height: 100%;
        .gallery-modal {
            @extend .row;
            width: 100vw;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            max-height: 100%;
            overflow-y: auto;
            .gallery-modal__wrapper {
                @extend .col-md-10;
                @extend .col;
                @extend .bg-dark;
                .gallery-viewer{
                    @extend .row;
                    height: 100%;
                    .gallery-viewer__img-wrapper {
                        @extend .col;
                        @extend .p-0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            max-width: 100%;
                            object-fit: contain;
                        }
                    }
                    .gallery-viewer__body {
                        background-color: white;
                        @extend .col-md-3;
                        @extend .col-12;
                        @extend .p-3;
                        display: flex;
                        flex-direction: column;
                        .gallery-viewer__header {
                            @extend .my-3;
                            @extend .text-primary;
                            flex-shrink: 0;
                        }
                        .gallery-viewer__content {
                            overflow-y: auto;
                        }
                        .gallery-viewer__btn-bar {
                            @extend .mt-3;
                            display: flex;
                            flex-shrink: 0;
                            .btn-like {
                                @extend .p-1;
                            }
                        }
                    }
                }
            }
        }
    }
}